#do li {
	font-weight: bold;
	font-size: 16px;
	margin-top: 20px;
}

li input {
	margin-right: 10px!important;
}


#time {
	margin-top: 20px;
	margin-bottom: 20px;
	color: #009A83;
	font-weight: bold;
}